alias b='git checkout -t origin/main -b'
alias gp='git pull-request'
alias gb='git branch'
alias gl='git log --graph --oneline --decorate'
alias gc='git commit'
alias gd='git diff'
alias gs='git status'
alias gr='git rebase'
alias gri='git rebase -i'
alias gca='git commit -a'
alias gcaa='git commit -a --amend'
alias grc='git rebase --continue'

alias pull='git pull --rebase'
alias push='git push origin HEAD'
alias pushb='git push origin HEAD:`git rev-parse --abbrev-ref HEAD`'
alias pushbf='git push -ff origin HEAD:`git rev-parse --abbrev-ref HEAD`'

alias h='pushd ~'

alias ta='tmux -CC attach'
